@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


*{ 
	padding: 0px;
	margin: 20px;
	box-sizing: border-box;
}
.container-group{
	padding: 20px;
	margin: 0px;
	display: flex;
	align-content: center;
	justify-content: center;
	height: 200px;
	width: 100%;
	float: center;
}

button{
  padding: 20px 50px;
	font-size: 2rem;
	overflow: hidden;
	background-color: transparent;
	border: 1px solid black;
	outline: none;
	font-family: 'Montserrat';
	z-index: 1;
}

/* button span{
	position: absolute;
	height: 350px;
	width: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: crimson;
	z-index: -1;
	border-radius: 50%;
	opacity: 0;
} */

/* button:hover span{
	animation: button_animation 1s ease;
} */

@keyframes button_animation{
	0%{
		opacity: 0;
		transform: translate(-50%, -50%) scale(0);
	}
	30%{
		opacity: 0.75;
	}
	100%{
		opacity: 0;
		transform: translate(-50%, -50%) scale(1);
	}
}
